.input_fileupload--hidden {
  display: none;
}
ul li {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
}
ul {
  display: flex;
}
.image {
  /* background: red;
  margin: auto auto auto auto; */
}
.parent {
  display: flex;
}

.child {
  width: 300px; /* Or whatever */
  height: 300px; /* Or whatever */
  margin: auto; /* Magic! */
}
